.page.theme_light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --titel-color: #FFC2E6;
  --title-decor-color: #353430;
  --menu-border-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {

  :root {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --titel-color: #FFC2E6;
    --title-decor-color: #353430;
    --menu-border-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
  }

    .theme_auto .header-decor-element {
      display: none;
    }
}

.theme_light .header-decor-element {
  display: none;
}


